{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-light">
    <div class="container-header">
        <a href="#" class="navbar-brand">
            <img src="{% static 'img/logo_small.png' %}" alt="Logo"
                 class="brand-image"
                 style="opacity: .8">
        </a>
        
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% comment %} <li class="nav-item d-none d-sm-inline-block-le">
            <a href="" class="nav-link">OPTICAL SENA</a>
        </li>
     {% endcomment %}
    </div>
</nav>
